.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.grid-container h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #2c3e50;
    justify-content: center;
}

.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}